backups
eln-cache
elpa
org-persist
straight
transient
auto-save-list
.cache
tree-sitter
projects
org-roam.db
.org-id-locations
bookmarks
recentf.eld
savehist
undo-fu-session
.dap-breakpoints
custom.el
eclipse.jdt.ls
tramp
workspace