* {
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-family: Inter;
}

window#waybar {
    background: transparent;
}

#workspaces {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
}

#taskbar {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#network {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#wireplumber {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#memory {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#disk {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#cpu {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#temperature {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#clock {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
	background: white;
}

#tray {
    border-radius: 5px;
    border: 3px solid black;
    margin: 5px;
    padding: 5px;
}
