window.Bar {
  background: @theme_fg_color;
  color: @theme_bg_color;
  font-weight: bold;

 }

.centerbox {
      background: @theme_bg_color;
    border-radius: 10px;
    margin: 2px;
  }

button {
    border-radius: 8px;
    margin: 0px;
}

